<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ultrontech.s515liftconfigure">

    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="33" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="33" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="BLUETOOTH_PRIVILEGED" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_CONNECT"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".S515LiftConfigureApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.s515LiftConfigure"
        tools:targetApi="31">
        <activity
            android:name=".UserContactActivity"
            android:exported="false" />
        <activity
            android:name=".MicrophoneSensitivityActivity"
            android:exported="false" />
        <activity
            android:name=".ChangeVolumeActivity"
            android:exported="false" />
        <activity
            android:name=".ChangeSimInformationActivity"
            android:exported="false"
            android:label="@string/title_activity_change_sim_information"
            android:theme="@style/Theme.s515LiftConfigure.NoActionBar" />
        <activity
            android:name=".ChangePinNumberActivity"
            android:exported="false" />
        <activity
            android:name=".ChangeLiftNameActivity"
            android:exported="false" />
        <activity
            android:name=".UserLiftSettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_user_lift_settings"
            android:theme="@style/Theme.s515LiftConfigure.NoActionBar" />
        <activity
            android:name=".AddLiftActivity"
            android:exported="false" />
        <activity
            android:name=".MyProductsActivity"
            android:exported="false"
            android:label="@string/title_activity_my_products" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/title_activity_splash"
            android:theme="@style/Theme.s515LiftConfigure.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".FindLiftActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".EngineerDetailsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <service
            android:name=".bluetooth.BluetoothLeService"
            android:enabled="true" />
    </application>

</manifest>